<ul id="resources" aria-labelledby="{{ aria-labelledby-id }}">
  {% for resource in results %}
  <li>
    <a href="{{ resource.permalink }}">
      <h3>{{ resource.title | e }}</h3>
    </a>
    <div>
      <img
        src="{{ resource.thumbnail_src }}"
        alt="{{ resource.thumbnail_alt | e }}"
      />
      <p class="description">{{ resource.description | e }}</p>
      <p class="source">({{ 'Source: %s' | i18n | format(resource.source) | e }})</p>
    </div>
  </li>
  {% endfor %}
</ul>

