<ul id="resources" role="list">
  {% for resource in results %}
  <li>
    <a href="{{ resource.permalink }}">
      <h{{ level }}>{{ resource.title | e }}</h{{ level }}>
    </a>
    <div>
      <img
        src="{{ resource.thumbnail_src }}"
        alt="{{ resource.thumbnail_alt | e }}"
      />
      <p class="description">{{ resource.description | e }}</p>
      <p class="source">({{ 'Source: %s' | i18n | format(resource.source) | e }})</p>
    </div>
  </li>
  {% endfor %}
</ul>

