<section aria-labelledby="main-search" id="search-form">
  <h2 id="main-search" class="h2">{{ 'Search' | i18n }}</h2>
  <p class="main-description">
    {{ 'Library of %d accessible STEM media resources.' | i18n | format(resource_count) }}
  </p>

  {{ enclosing_form ? '<form method="get" class="search-form">' : '' }}

    <input type="hidden" name="page" value="search">
    <label for="search" class="search-label"
      >{{ 'Search collections or resources' | i18n }}</label
    >
    <div class="controls" role="search">
      <div class="input-wrapper">
        <input
          id="search"
          name="q"
          type="text"
          class="search-input"
          aria-describedby="desc"
          value="{{ results.search_filters.query | e }}"
        />
        <div id="desc" class="description">
          {{ 'Try searching “geology” or “heart”.' | i18n }}
        </div>
      </div>
      <h3>
        <button id="advanced-btn" type="button" class="advanced-btn" aria-expanded="false">
          <span>{{ 'Advanced search' | i18n }}</span>
          <span class="bracket" aria-hidden="true"></span>
        </button>
      </h3>
      <div class="submit-btn-wrapper">
        <button type="submit" class="submit-btn">
          <span>{{ 'Search library' | i18n }}</span>
        </button>
      </div>
    </div>
    <div class="refinements-wrapper">
      <ul class="refinements" aria-labelledby="advanced-btn" role="list">
        <li class="refinement">
          <label for="subject">{{ 'Subject' | i18n }}</label>
          <select id="subject" name="subject">
            <option value="">--{{ 'choose a subject' | i18n }}--</option>
          {% for id, terms in search_terms.subjects %}
            <option value="{{ id }}">{{ terms | map(t => t | i18n) | join(' - ') }}</option>
          {% endfor %}
          </select>
        </li>
        <li class="refinement">
          <label for="type">{{ 'Type' | i18n }}</label>
          <select id="type" name="type">
            <option value="">--{{ 'choose a type' | i18n }}--</option>
          {% for id, term in search_terms.types %}
            <option value="{{ id }}">{{ term | i18n }}</option>
          {% endfor %}
          </select>
        </li>
        <li class="refinement">
          <label for="acc">{{ 'Accommodation' | i18n }}</label>
          <select id="acc" name="acc">
            <option value="">--{{ 'choose an accommodation' | i18n }}--</option>
          {% for id, terms in search_terms.accommodations %}
            <option value="{{ id }}">{{ terms | map(t => t | i18n) | join(' - ') }}</option>
          {% endfor %}
          </select>
        </li>
      </ul>
      <div class="submit-btn-wrapper">
        <button type="submit" class="submit-btn">
          <span>{{ 'Search Library' | i18n }}</span>
        </button>
      </div>
    </div>

  {{ enclosing_form ? '</form>' : '' }}
</section>

