<section aria-labelledby="main-search">
  <h2 id="main-search" class="h2">{{ 'Search' | i18n }}</h2>
  <p class="main-description">
    {{ 'Library of 5,074 accessible STEM media resources.' | i18n }}
  </p>
  <form role="search" class="search-form">
    <input type="hidden" name="page" value="search">
    <label for="search" class="search-label"
      >{{ 'Search collections or resources' | i18n }}</label
    >
    <div class="controls">
      <div class="input-wrapper">
        <input
          id="search"
          name="q"
          type="text"
          class="search-input"
          aria-describedby="desc"
        />
        <div id="desc" class="description">
          {{ 'Try searching “geology” or “heart”.' | i18n }}
        </div>
      </div>
    {% if results.count %}
        <div class="input-wrapper">
            <label for="narrow-search">{{ 'perform search within current results' | i18n }}</label>
            <input id="narrow-search" name="narrow" type="checkbox" checked="checked" value="1">
        </div>
    {% endif %}
      <button
        id="advanced-btn"
        type="button"
        class="advanced-btn"
        aria-expanded="false"
      >
        <span>{{ 'Advanced Search' | i18n }}</span>
        <span class="bracket" aria-hidden="true"></span>
      </button>
      <div class="submit-btn-wrapper">
        <button type="submit" class="submit-btn">
          <span>{{ 'Search Library' | i18n }}</span>
        </button>
      </div>
    </div>
    <div class="refinements-wrapper">
      <ul
        class="refinements"
        aria-labelledby="advanced-btn"
        role="list"
      >
        <li class="refinement">
          <label for="subject">{{ 'Subject' | i18n }}</label>
          <select id="subject" name="subject">
            <option value="">--{{ 'choose a subject' | i18n }}--</option>
          {% for id, terms in search_terms.subjects %}
            <option value="{{ id }}">{{ terms | map(t => t | i18n) | join(' - ') }}</option>
          {% endfor %}
          </select>
        </li>
        <li class="refinement">
          <label for="type">{{ 'Type' | i18n }}</label>
          <select id="type" name="type">
            <option value="">--{{ 'choose a type' | i18n }}--</option>
          {% for id, term in search_terms.types %}
            <option value="{{ id }}">{{ term | i18n }}</option>
          {% endfor %}
          </select>
        </li>
        <li class="refinement">
          <label for="acc">{{ 'Accommodation' | i18n }}</label>
          <select id="acc" name="acc">
            <option value="">--{{ 'choose an accommodation' | i18n }}--</option>
          {% for id, terms in search_terms.accommodations %}
            <option value="{{ id }}">{{ terms | map(t => t | i18n) | join(' - ') }}</option>
          {% endfor %}
          </select>
        </li>
      </ul>
      <div class="submit-btn-wrapper">
        <button type="submit" class="submit-btn">
          <span>{{ 'Search Library' | i18n }}</span>
        </button>
      </div>
    </div>
  {% if search_params %}
    {% for term, value in search_params %}
        <input type="hidden" name="p_{{ term }}" value="{{ value }}">
    {% endfor %}
  {% endif %}
  </form>
</section>

