<div class="wrap">
    <h1>{{ 'Imageshare configuration' | i18n }}</h1>

    <h2 class="title">{{ 'Tools' | i18n }}</h2>

    <section>
        <h3>{{ 'Import resources' | i18n }}</h3>
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" name="is_update" value="1">
            <input type="hidden" name="wp_nonce" value="{{ wp_nonce | e }}"> 
            <div class="form-group">
                <label for="record_file">{{ 'Resource file (JSON)' | i18n }}</label>
                <input type="file" id="record_file" name="record_file" accept="application/json">
            </div>

            <button class="button button-primary">{{ 'Import' | i18n }}</button>
        </form>
    </section>

</div>
