<div class="wrap settings-page">
    <h1>{{ 'Imageshare configuration' | i18n }}</h1>

    {% if result is defined %}
        {% for error in result.errors %}
            <div class="notice notice-error">{{ error | e }}</div>
        {% endfor %}

        {% for resource in result.resources %}
            <div class="notice notice-success">{{ resource | e}}</div>
        {% endfor %}
    {% endif %}

    <h2 class="title">{{ 'Tools' | i18n }}</h2>

    <section>
        <h3>{{ 'Import resources' | i18n }}</h3>
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" name="is_import" value="1">
            <input type="hidden" name="wp_nonce" value="{{ wp_nonce | e }}"> 
            <div class="form-group">
                <label for="record_file">{{ 'Resource file (JSON)' | i18n }}</label>
                <input type="file" id="record_file" name="record_file" accept="application/json">
            </div>

            <button class="button button-primary">{{ 'Import' | i18n }}</button>
        </form>

    {% if json_schema is defined %}
        <h4>{{ 'Schema' | i18n }}</h4>
        <pre>
                {{ json_schema }}
        </pre>
    {% endif %}

        <form method="post">
            <input type="hidden" name="is_schema_view" value="1">
            <button class="button">{{ 'View JSON validation schema' | i18n }}</button>
        </form>
    </section>

    <section>
        <h3>{{ 'Configure taxonomies' | i18n }}</h3>
        <form method="post">
            <input type="hidden" name="is_taxonomy_update" value="1">
            <input type="hidden" name="wp_nonce" value="{{ wp_nonce | e }}">
        {% for taxonomy in taxonomies %}
            {% set id='taxonomy_%s_allow_empty' | format(taxonomy.term_name) | e %}
            <h4>{{ taxonomy.name | e }}</h4>
            <div class="form-group">
                <input type="checkbox" name="{{ id }}" id="{{ id }}" value="1" {{ (taxonomy.settings.allow_empty) ? 'checked="checked"' : '' }}>
                <label for="taxonomy_{{ taxonomy.term_name | e }}_allow_empty">{{ 'Accept empty value' }}</label>
            </div>
        {% endfor %}

            <button class="button button-primary">{{ 'Update' | i18n }}</button>
        </form>
    </section>

</div>
