{% block html_head_container %}
  {% include 'html-header.twig' %}
  {% block head %}
  {% endblock %}
  </head>
{% endblock %}

  <body data-template="base.twig">
    <div class="app grid {{ is_home ? 'home' : 'not_home' }}">
      <div class="app-inner">
        <header class="header">

     {# no skip link on home for now 
        {% if is_home %}
           <a class="skip-link" href="#search">{{ 'Skip to search' | i18n }}</a>
        {% endif %}
      #}

        {% if is_search and results.total_count %}
           {% set target = results.resources.posts | length ? '#resources-heading' : '#collections-heading' %}
           <a class="skip-link" href="{{ target }}">{{ 'Skip to results' | i18n }}</a>
        {% endif %}

        {% block header %}
          <div class="header-inner width-12/12">
            <a href="/" class="logo">
              <img
                class="logo-img"
                src="{{ site.theme.link }}/assets/img/imageshare.png"
                alt="Imageshare, A Benetech Initiative"
              />
            </a>
          </div>
        {% endblock %}
        </header>

        {% block nav %} {% endblock %}

        <main class="main">
            {% block content %}
                No main content.
            {% endblock %}
        </main>

    {% block footer %}
      <footer class="footer">
        {% include 'footer.twig' %}
      </footer>
      {{ function('wp_footer') }}
    {% endblock %}

      </div>
    </div>

    <div id="announcement" aria-live="polite" aria-atomic="true" class="sr-only"></div>

    <script src="{{ site.theme.link }}/assets/js/vendor/modernizr-3.8.0.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script>
      window.jQuery ||
        document.write(
          '<script src="{{ site.theme.link }}/assets/js/vendor/jquery-3.4.1.min.js"><\/script>'
        );
    </script>
    <script src="{{ site.theme.link }}/assets/js/plugins.js"></script>
    <script src="{{ site.theme.link }}/assets/js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
      window.ga = function () {
        ga.q.push(arguments);
      };
      ga.q = [];
      ga.l = +new Date();
      ga("create", "UA-XXXXX-Y", "auto");
      ga("set", "transport", "beacon");
      ga("send", "pageview");
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
  </body>
</html>
