{% block html_head_container %}
  {% include 'html-header.twig' %}
  {% block head %}
  {% endblock %}


  </head>
{% endblock %}

  <body data-template="base.twig">
    <div class="app grid {{ is_home ? 'home' : 'not_home' }}">
      <div class="app-inner">
        <header class="header">

     {# no skip link on home for now 
        {% if is_home %}
           <a class="skip-link" href="#search">{{ 'Skip to search' | i18n }}</a>
        {% endif %}
      #}

        {% if is_search and results.total_count %}
          {% if results.resources.posts | length %}
            <a class="skip-link" href="#resources-heading">{{ 'Skip to matching resources' | i18n }}</a>
          {% endif %}

          {% if results.collections.posts | length %}
            <a class="skip-link" href="#collections-heading">{{ 'Skip to matching collections' | i18n }}</a>
          {% endif %}
        {% endif %}

        {% block header %}
          <div class="header-inner width-12/12">
            <a href="/" class="logo">
              <img
                class="logo-img"
                src="{{ site.theme.link }}/assets/img/imageshare.png"
                alt="Imageshare Home"
              />
            </a>
          </div>
        {% endblock %}
        </header>

        {% block nav %} {% endblock %}

        <main class="main">
            {% block content %}
                No main content.
            {% endblock %}
        </main>

    {% block footer %}
      <footer class="footer">
        {% include 'footer.twig' %}
      </footer>
      {{ function('wp_footer') }}
    {% endblock %}

      </div>
    </div>

    <div id="announcement" aria-live="polite" aria-atomic="true" class="sr-only"></div>
      
    <script src="{{ site.theme.link }}/assets/js/main.js?{{ theme.version }}"></script>
    <script src="{{ site.theme.link }}/assets/js/aria-utils.js?{{ theme.version }}"></script>
    <script src="{{ site.theme.link }}/assets/js/aria-listbox.js?{{ theme.version }}"></script>
    <script src="{{ site.theme.link }}/assets/js/aria-listbox-expandable.js?{{ theme.version }}"></script>
    
    {% if '/faq/' in {{ site.url }} %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% endif %}
      
  </body>
</html>
