<!DOCTYPE html>
<html class="no-js" {{ site.language_attributes }}>
  <head>
    <meta charset="{{ site.charset }}" />
    <meta name="description" content="{{ site.description }}" />
    <title>Imageshare - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="{{ site.theme.link }}/assets/img/icon.png" />
    {% for sheet in ['normalize', 'main', 'grid', 'style'] %}
        <link rel="stylesheet" href="{{ site.theme.link }}/assets/css/{{ sheet }}.css" type="text/css" media="screen" />
    {% endfor %}
    <meta name="theme-color" content="#fafafa" />

    {{ function('wp_head') }}
 
