{% extends "base.twig" %}

{% block content %}
    {% include "partial/search.twig" %}
    {% set collections = imageshare.controllers.resource_collection.get_popular_collections(8) %}

    <section aria-labelledby="collections">
      <h2 class="h2 collections-heading" id="collections">
        {{ 'Browse Collections' | i18n }}
      </h2>
      <ul
        class="collections grid"
        aria-labelledby="collections"
        role="list"
      >
      {% for collection in collections %}
        <li
          class="collection background{{ collection.hex_color }} width-3/12 width-6/12@medium width-12/12@small"
        >
          <a href="{{ collection.permalink }}" class="collection-link">
            <img class="collection-img" src="{{ collection.thumbnail }}" alt="" />
            <div class="collection-heading">{{ collection.name | i18n | e }} </div>
            <div class="collection-description">{{ collection.description | i18n | e }} </div>
          </a>
        </li>
      {% endfor %}
      </ul>
      <div class="see-more-collections width-12/12">
        <a href="#">{{ 'See More Collections' | i18n }}</a>
      </div>
    </section>

{% endblock %}
