{% extends "base.twig" %}

{% set title = '%d resources found' | i18n | format(results | length) %}

{% block content %}
    {% if results | length > 0 %}
        {% include "partial/search.twig" %}
        <h2 id="resources-heading" class="sr-only">{{ 'Resources' | i18n }}</h2>
        <div class="grid">
          <p class="width-9/12">
            {{ 'Select a resource below to get more information and link to download this resource.' | i18n }}
          </p>
          <form class="results-per-page width-3/12">
            <label class="results-per-page-label" for="results-per-page">{{ 'Results per page' | i18n }}</label>
            <select id="results-per-page-select" name="rpp">
              <option value="20" selected>20</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
            <button type="submit">Update</button>
          </form>
        </div>
        <table
          class="resources"
          aria-labelledby="resources-heading"
          aria-describedby="main-description"
        >
          <thead class="resources-headings">
            <tr>
              <th scope="col">{{ 'Resource' | i18n }}</th>
              <th scope="col">{{ 'Name' | i18n }}</th>
              <th scope="col">{{ 'Description' | i18n }}</th>
              <th scope="col">{{ 'Source' | i18n }}</th>
            </tr>
          </thead>
          <tbody class="resources-data">
          {% for result in results %}
            <tr>
              <td>
                <a
                  href="{{ result.permalink }}"
                  role="img"
                  aria-label="{{ result.title | i18n }}"
                  tabindex="-1"
                >
                  <img
                    class="resource-img"
                    src="{{ result.thumbnail_src }}"
                    alt="{{ result.thumbnail_alt | i18n }}"
                  />
                </a>
              </td>
              <td>
                <a href="{{ result.permalink }}" class="resource-link">{{ result.title | i18n }}</a>
              </td>
              <td>
                <p>{{ result.description | i18n }}</p>
              </td>
              <td>{{ result.source | i18n }}</td>
            </tr>
            <tr>
          {% endfor %}
          </tbody>
        </table>
    {% else %}
        <div>{{ 'No results matched your query.' | i18n }}</div>
        {% include "partial/search.twig" %}
    {% endif %}
{% endblock %}
