{% extends "base.twig" %}

{% set title = '%d resources found' | i18n | format(results | length) %}

{% block content %}
  <div class="main-inner width-12/12">
    {% if results | length > 0 %}
        {% include "partial/search.twig" %}
        <h2 id="resources-heading" class="sr-only">{{ 'Resources' | i18n }}</h2>
        <div class="grid">
          <p class="width-9/12">
            {{ 'Select a resource below to get more information and link to download this resource.' | i18n }}
          </p>
          <form class="results-per-page width-3/12">
            <label class="results-per-page-label" for="results-per-page">{{ 'Results per page' | i18n }}</label>
            <select id="results-per-page-select" name="rpp">
              <option value="20" selected>20</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
            <button type="submit">Update</button>
          </form>
        </div>
        {{ include('partial/resource-table.twig', {results: results}, with_context = false) }}
    {% else %}
        <div>{{ 'No results matched your query.' | i18n }}</div>
        {% include "partial/search.twig" %}
    {% endif %}
  </div>
{% endblock %}
