{% extends "base.twig" %}

{% set page_title = '%s - collection - Imageshare' | i18n | format(post.title) %}

{% block content %}
  <div class="main-inner grid" id="collection">
    <div class="width-9/12">
      <h1 id="main-heading" class="h1">
        {{ post.title | i18n | e }}
      </h1>
      <p>{{ post.description | e }}</p>
      <p class="contributor">
        {{ 'created by' | i18n }} {{ post.contributor | i18n | e }}
      </p>

      <section class="search-results">
        <h2>{{ 'Resources' | i18n }} <span class="counter">{{ post.published_resources | length }}</span></h2>
        {{ include('partial/resource-table.twig', {results: post.published_resources, level: 3}, with_context = false) }}
      </section>

    </div>
  </div>
{% endblock %}

