{% extends "base.twig" %}

{% set page_title = '%s - resource - Imageshare' | i18n | format(post.title) %}

{% block header %}
  <div class="header-inner">
    <div class="header-inner width-12/12">
      <a href="/" class="logo">
        <img
          class="logo-img"
          src="{{ site.theme.link }}/assets/img/imageshare.png"
          alt="Imageshare, A Benetech Initiative Logo"
        />
      </a>
    </div>
  </div>

{% endblock %}

{% block nav %}
    <nav aria-label="Page" class="main-navigation">
      <div class="nav-inner">
          <h2 id="main-navigation-heading" class="sr-only">
            Page Navigation
          </h2>
          <ul
            role="list"
            aria-labelledby="main-navigation-heading"
          >
          {% if last_search | length %}
            <li class="left width-9/12">
              <a href="{{ last_search }}" class="back-link"
                ><span aria-hidden="true" class="lsaquo">&lsaquo;</span
                ><span class="txt">Go back to search results</span></a>
            </li>
          {% else %}
            <li class="left width-9/12">
              <a href="/?page=search" class="back-link"
                ><span aria-hidden="true" class="lsaquo">&lsaquo;</span
                ><span class="txt">Go to search page</span></a>
            </li>
          {% endif %}
            <li class="right width-3/12">
              <a href="mailto:report@imageshare.benetech.edu">Report Issue</a>
            </li>
          </ul>
      </div>
    </nav>
{% endblock %}


{% block content %}
  <div id="resource" class="main-inner">
    <div class="details">
        <h1 id="main-heading" class="h1">
          {{ post.title | i18n | e }}
        </h1>

        <div class="header">
          <img
            src="{{ post.thumbnail_src }}"
            alt="{{ post.thumbnail_alt | e }}"
          />

          <div>
          <p class="description">
            {{ post.description | i18n | e }}
          </p>

          <p class="source">
            (Source: {{ post.source }})
          </p>
          </div>

        </div>

          <dl class="resource-details">
            <div>
                <dd>{{ 'Subject' | i18n }}:</dd>
                <dt>{{ post.subject | i18n | e }}</dt>
            </div>
          {% if post.tags %}
            <div>
                <dd>{{ 'Keywords' | i18n }}:</dd>
                <dt>{{ post.tags ? post.tags | join(', ') : '(none)' | i18n }}</dt>
            </div>
          {% endif %}
          </dl>
      </div>

    {% if post.published_files | length > 0 %}
      <section id="files">
        <h2 id="files-heading">{{ 'Files' | i18n }} <span class="counter">{{ post.published_files | length }}</span></h2>
        {% if post.download_uri | length > 5 %}
          <a href="{{ post.download_uri }}" class="download download-all" download="{{ post.download_uri | basename }}">
            {{ 'Download all files' | i18n }} ({{ post.published_files | length }})
          </a>
        {% endif %}

        <ul role="list" aria-labelledby="files-heading">
        {% for file in post.published_files %}
          {{ block('file') }}
        {% endfor %}
        </ul>
      </section>
    {% endif %}

    {% if post.collections | length > 0 %}
      <section id="collections">
        <h2 id="collections-heading">{{ 'Collections' | i18n }} <span class="counter">{{ post.collections | length }}</span></h2>
        <p>{{ 'This resource is part of one or more collections.' | i18n }}</p>
        <ul role="list" aria-labelledby="collections-heading">
        {% for collection in post.collections %}
          {{ include('partial/collection-list-item.twig') }}
        {% endfor %}
        </ul>
      </section>
    {% endif %}

  </div>
{% endblock %}

{% block file %}
  <li>
    <div class="header">
      {% if file.thumbnail_src | length %}
        <img
          class="resource-img"
          src="{{ file.thumbnail_src }}"
          alt="{{ file.thumbnail_alt | i18n }}"
        />
      {% endif %}
      <h3>{{ file.title | e }}</h3>
      {% if file.downloadable %}
        <a download="{{ file.uri | basename }}" aria-label="{{ 'Download %s - %s' | format(file.title, file.type | i18n) }}" class="download" href="{{ file.uri }}">{{ 'Download' | i18n }}</a>
      {% endif %}

      {% if not file.downloadable and file.uri | length > 5 %}
        <a target="_blank" aria-label="{{ 'Visit %s - %s' | format(file.title, file.type | i18n) }}" class="download" href="{{ file.uri }}">{{ 'Visit' | i18n }}</a>
      {% endif %}
    </div>
    
    <p>{{ file.description | e }}</p>

    <dl>
      <div>
        <dt>{{ 'Type' | i18n }}:</dt>
        <dd>{{ file.type | e }}</dd>
      </div>

      <div>
        <dt>{{ 'Format' | i18n }}:</dt>
        <dd>{{ file.format | e }}</dd>
      </div>

      <div>
        <dt>{{ 'Accommodations' | i18n }}:</dt>
        <dd>{{ file.accommodations | join(', ') | e }}</dd>
      </div>

      <div>
        <dt>{{ 'Languages' | i18n }}:</dt>
        <dd>{{ file.languages | join(', ') | e }}</dd>
      </div>

      <div>
        <dt>{{ 'License' | i18n }}:</dt>
        <dd>{{ file.license | e }}</dd>
      </div>

    {% if file.length_minutes %}
      <div>
        <dt>{{ 'Length' | i18n }}:</dt>
        <dd>{{ file.length_formatted_string() | e }}</dd>
      </div>
    {% endif %}


    </dl>
  </li>
{% endblock %}

