{% extends "base.twig" %}

{% set page_title = post.title %}

{% block header %}
  <div class="header-inner">
    <div class="header-inner width-12/12">
      <a href="/" class="logo">
        <img
          class="logo-img"
          src="{{ site.theme.link }}/assets/img/imageshare.png"
          alt="Imageshare, A Benetech Initiative Logo"
        />
      </a>
    </div>

    <nav aria-label="Page" class="main-navigation">
      <h2 id="main-navigation-heading" class="sr-only">
        Page Navigation
      </h2>
      <ul
        class="grid main-navigation-list"
        role="list"
        aria-labelledby="main-navigation-heading"
      >
<!--        <li class="left width-9/12">
          <a href="#" class="back-link"
            ><span aria-hidden="true" class="lsaquo">&lsaquo;</span
            ><span class="txt">Go back to search results</span></a
          >
        </li> -->
        <li class="right width-3/12">
          <a href="mailto:report@imageshare.benetech.edu" class="">Report Issue</a>
        </li>
      </ul>
    </nav>
  </div>
{% endblock %}

{% block content %}
  <div class="main-inner grid">
    <div class="width-9/12">
      <h1 id="main-heading" class="h1">
        {{ post.title | i18n | e }}
      </h1>
      <p class="description-txt">
        {{ post.description | i18n | e }}
      </p>
      <dl class="resource-details">
        <div>
            <dd>{{ 'Subject' | i18n }}:</dd>
            <dt>{{ post.subject | i18n | e }}</dt>
        </div>
      {% if post.tags %}
        <div>
            <dd>{{ 'Keywords' | i18n }}:</dd>
            <dt>{{ post.tags | join(', ') }}</dt>
        </div>
      {% endif %}
      </dl>
    {% if post.download_link %}
      <button type="submit" class="download-btn">
        {{ 'Download all files' | i18n }} ({{ post.files | length }}) 
      </button>
    {% endif %}

      <section>
        <h2 class="resource-section">{{ 'Files' | i18n }} <span class="counter">{{ post.files | length }}</span></h2>
        <table class="resource_files">
          <thead class="resources-headings">
            <tr>
              <th scope="col">{{ 'Image' | i18n }}</th>
              <th scope="col">{{ 'Name' | i18n }}</th>
              <th scope="col">{{ 'Description' | i18n }}</th>
              <th scope="col">{{ 'Type' | i18n }}</th>
              <th scope="col">{{ 'Format' | i18n }}</th>
              <th scope="col">{{ 'Accommodations' | i18n }}</th>
              <th scope="col">{{ 'Languages' | i18n }}</th>
              <th scope="col">{{ 'License' | i18n }}</th>
              <th scope="col">{{ 'Download' | i18n }}</th>
            </tr>
          </thead>
          <tbody class="resources-data">
          {% for file in post.files %}
            <tr>
              <td>
              {% if result.thumbnail_src | length %}
                <img
                  class="resource-img"
                  src="{{ file.thumbnail_src }}"
                  alt="{{ file.thumbnail_alt | i18n }}"
                />
              {% else %}
                <p class="no-content">({{ 'none' | i18n }})</p>
              {% endif %}
              </td>

              <td>
                {{ file.title | e }}</a>
              </td>

              <td>
              {% if file.description | length %}
                <p>{{ file.description | e }}</p>
              {% else %}
                <p class="no-content">({{ 'none' | i18n }})</p>
              {% endif %}
              </td>

              <td>{{ file.type | e }}</td>
              <td>{{ file.format | e }}</td>
              <td>
                <ul>
                {% for a in file.accommodations %}
                  <li>{{ a | e }}</li>
                {% endfor %}
                </ul>
              </td>
              <td>
                <ul>
                {% for l in file.languages %}
                  <li>{{ l | e }}</li>
                {% endfor %}
                </ul>
              </td>
              <td>{{ file.license | e }}</td>
              <td>
              {% if file.downloadable %}
                <a href="{{ file.uri }}" download="{{ file.uri }}">{{ 'Download %s (%s - %s)' | i18n | format(file.title, file.type, file.format) }}</a>
              {% else %}
                <p class="no-content">({{ 'unavailable' | i18n }})</p>
              {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </section>

    {% if post.collections | length > 0 %}
      <section>
        <h2>{{ 'Collections' | i18n }} <span class="counter">{{ post.collections | length }}</span></h3>
          <ul
            class="collections"
            aria-labelledby="collections-tabpanel-heading"
          >

          {% for collection in post.collections %}
            <li class="collections-item">
              <div class="collections-content">
                <h3 class="h3 collections-name">
                  <a href="{{ collection.permalink }}">{{ collection.title | e }}</a>
                </h3>
                <img
                  class="collections-img"
                  src="./img/resource.png"
                  alt=""
                />
                <p class="collections-author">
                  {{ 'by' | i18n }} <strong>{{ collection.contributor | e }}</strong>
                </p>
              </div>
            </li>
        {% endfor %}
          </ul>
      </section>
    {% endif %}
    </div>
  </div>


{% endblock %}

