{% extends "base.twig" %}

{% set page_title = '%s - resource - Imageshare' | i18n | format(post.title) %}

{% block header %}
  <div class="header-inner">
    <div class="header-inner width-12/12">
      <a href="/" class="logo">
        <img
          class="logo-img"
          src="{{ site.theme.link }}/assets/img/imageshare.png"
          alt="Imageshare, A Benetech Initiative Logo"
        />
      </a>
    </div>
  </div>

{% endblock %}

{% block nav %}
    <nav aria-label="Page" class="main-navigation">
      <div class="nav-inner">
          <h2 id="main-navigation-heading" class="sr-only">
            Page Navigation
          </h2>
          <a href="mailto:imageshare-issues@diagramcenter.org?subject={{ 'Imageshare page issue' | url_encode }}&body={{ post.permalink | url_encode }}">Report Issue</a>
      </div>
    </nav>
{% endblock %}


{% block content %}
  <div id="resource" class="main-inner">
    <div class="details">
        <h1 id="main-heading" class="h1">
          {{ post.title | i18n | e }}
        </h1>

        <div class="header">
          <img
            src="{{ post.thumbnail_src }}"
            alt="{{ post.thumbnail_alt | e }}"
            class="thumbnail"
          />

          <div>
          <p class="description">
            {{ post.description | i18n | e }}
          </p>


          <p class="source">
            ({{ 'Source' | i18n }}: {{ post.source | e }})
          </p>
          </div>

        </div>

          <dl class="resource-details">
            <div>
                <dt>{{ 'Subject' | i18n }}:</dt>
                <dd>
                  <a href="/?page=search&subject={{ post.subject_term_id }}">{{ post.subject | i18n | e }}</a>
                </dd>
            </div>
          {% if post.tags %}
            <div>
                <dt>{{ 'Keywords' | i18n }}:</dt>
                <dd>{{ post.tags ? post.tags | map(t => "<a href=\"/?page=search&q=#{t}\">#{t}</a>") | join(', ') : '(none)' | i18n }}</dd>
            </div>
          {% endif %}
          </dl>
      </div>

    {% if post.published_files | length > 0 %}
      <section id="files">
        <h2 id="files-heading">{{ 'Files' | i18n }} <span class="counter">{{ post.published_files | length }}</span></h2>
        {% if post.download_uri | length > 5 %}
          <a href="{{ post.download_uri }}" class="download download-all" download="{{ post.download_uri | basename }}">
            {{ 'Download all files' | i18n }} ({{ post.published_files | length }})
          </a>
        {% endif %}

        <ul role="list" aria-label="{{ 'Files' | i18n }}">
        {% for file in post.published_files %}
          {{ block('file') }}
        {% endfor %}
        </ul>
      </section>
    {% endif %}

    {% if post.collections | length > 0 %}
      <section id="collections">
        <h2 id="collections-heading">{{ 'Collections' | i18n }} <span class="counter">{{ post.collections | length }}</span></h2>
        <p>{{ 'This resource is part of one or more collections.' | i18n }}</p>
        <ul role="list" aria-labelledby="collections-heading">
        {% for collection in post.collections %}
          {{ include('partial/collection-list-item.twig') }}
        {% endfor %}
        </ul>
      </section>
    {% endif %}

  </div>
{% endblock %}

{% block file %}
  <li class="result">
    <div class="header">
      <h3>{{ file.title | e }}</h3>

      <img
        class="resource-img"
        src="{{ file.get_display_thumbnail() }}"
        alt=""
      />

      {% if file.downloadable %}
        <a download="{{ file.uri | basename }}" aria-label="{{ 'Download %s - %s' | format(file.title, file.type | i18n) }}" class="download" href="{{ file.uri }}">{{ 'Download' | i18n }}</a>
      {% endif %}

      {% if not file.downloadable and file.uri | length > 5 %}
        <a target="_blank" aria-label="{{ 'Visit %s - %s' | format(file.title, file.type | i18n) }}" class="download" href="{{ file.uri }}">{{ 'Visit' | i18n }}</a>
      {% endif %}
    </div>
    
  {% if file.description | length %}
    <p>{{ file.description | e }}</p>
  {% endif %}

    <dl>
      <div>
        <dt>{{ 'Type' | i18n }}:</dt>
        <dd>{{ file.type | e }}</dd>
      </div>

      <div>
        <dt>{{ 'Format' | i18n }}:</dt>
        <dd>{{ file.format | e }}</dd>
      </div>

      <div>
        <dt>{{ 'Accommodations' | i18n }}:</dt>
        <dd>{{ file.accommodations | join(', ') | e }}</dd>
      </div>

      <div>
        <dt>{{ 'Languages' | i18n }}:</dt>
        <dd>{{ file.languages | join(', ') | e }}</dd>
      </div>

      <div>
        <dt>{{ 'License' | i18n }}:</dt>
        <dd>{{ file.license | e }}</dd>
      </div>

    {% if file.author | length %}
      <div>
        <dt>{{ 'Author' | i18n }}:</dt>
        <dd>{{ file.author | e }}</dd>
      </div>
    {% endif %}

    {% if file.length_minutes %}
      <div>
        <dt>{{ 'Length' | i18n }}:</dt>
        <dd>{{ file.length_formatted_string() | e }}</dd>
      </div>
    {% endif %}


    </dl>
  </li>
{% endblock %}

